.facts {
  padding: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

/* .container.active {
    filter: blur(10px);
    user-select: none;
    pointer-events: none;
} */

.notes {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 300px); */
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.note {
  margin: auto;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #85586F;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
}