<form [formGroup]="formGroup" class="container" (ngSubmit)="addNote()">
    <div class="header">
        <p>New Note</p>
    </div>
    <div class="title">
        <label for="title">Title</label>
        <input id="title" type="text" placeholder="Title" #title formControlName="title">
        <small class="error">*title shouldn't be empty</small>
    </div>
    <div class="content">
        <label>Description</label>
        <textarea id="description" placeholder="Write here..." cols="30" rows="10" #desc
            formControlName="description"></textarea>
    </div>
    <div class="actions">
        <button style="background-color: lightcoral;" routerLink="/">Cancel</button>
        <button style="background-color: rgb(86, 214, 86);">Save</button>
        <!-- (click)="addNote(title.value, desc.value) -->
    </div>
</form>